{% extends 'base.html' %}
{% load static %}

{%block title%} Сброс пароля | Ход за тобой {%endblock%}

{% block content %}
<div class="d-flex justify-content-center row">
    <div class="col-12 col-lg-8 p-0 pt-3">
        <h1 class="text text-center">Сброс пароля</h1>
        <br>
            {% if form %}
                {% if action == 'init' %}
                    {% include 'competition/auth/password_reset_form.html' with link='reset_password_init' %}
                {% elif action == 'confirm' %}
                    {% include 'competition/auth/password_reset_form.html' with link='reset_password_confirm' %}
                {% endif %}
            {% else %}
        <p class="text ">
           {{ text }}
        </p>
            {% endif %}
    </div>
</div>
{% endblock %}