{% load static %}
<div class="text fs-3">
    <div class="row">
        <div class="col-7">
            <img src="{% static 'competition\images\main\img2.jpg' %}" alt="" style="width:100%">
        </div>
        <div class="col my-auto">
            <p>
    "Ход за тобой" - это престижные шахматные соревнования, организованные Шахматным клубом Финуниверситета "Zebra" при поддержке АССК России, объединяющие сильнейших шахматистов из всех вузов страны. Проект состоит из двух этапов - заочного отбора и очного финала, который проводится в Москве.
            </p>
        </div>
    </div>
    <div class="row  border-bottom border-top border-2 p-2 border-dark my-5">
        <div class="col">
            <p>
    На <b>заочном этапе</b> участники имеют возможность проявить свои навыки и стратегическое мышление, соревнуясь соперниками из разных уголков России. Заочный отбор позволяет шахматистам из разных вузов продемонстрировать свои навыки и состязаться на равных условиях.
                <br>
            <hr >  Лучшие участники заочного этапа преодолевают путь к <b>очному финалу</b>, который проходит в столице. В Москве шахматисты встречаются лицом к лицу, чтобы сразиться в поединках высочайшего уровня. Финал "Ход за тобой" представляет собой суровое испытание для мастерства и выносливости каждого участника.

            </p>
        </div>
    </div>

    <div class="row">
        <div class="col my-auto">
            <p>
Этот проект является не только местом схватки титанов шахматной доски, но и площадкой для обмена опытом, обучения и вдохновления. Участники имеют возможность встретиться с лучшими шахматистами страны, обсудить стратегии и тактику, а также расширить свои профессиональные связи в шахматном мире.
            </p>
        </div>
        <div class="col-6">
            <img src="{% static 'competition\images\main\img1.jpg' %}" alt="" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col">
            <p>
            </p>
        </div>
    </div>
    <div class="row border-bottom border-top border-2 p-2 border-dark my-5">
        <div class="col">
            <p>
"Ход за тобой" - это уникальная возможность для студентов и шахматных талантов проявить себя, соперничая с лучшими и покоряя новые вершины шахматной мастерской. Этот проект гарантирует незабываемые эмоции, увлекательные сражения и возможность стать частью престижного шахматного сообщества России.
            </p>
        </div>
    </div>
</p>
</div>