    {% load static %}
     <div class="container-fluid bg-primary border-top border-dark border-2 mt-4">
      <footer class="d-flex flex-wrap justify-content-between align-items-center pb-4 px-5 mt-4 ">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-light"><p>Контакты: <br>Информация: <a class="decoration-none text-light">chesszebra@gmail.com</a> <br>
              Tехническая поддержка: <a class="decoration-none text-light">nikitashlapak04@gmail.com</a></p></span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a target="_blank" href="https://vk.com/zebra_fu"><img class="bi" width="50" height="50" src="{% static 'competition\images\logos\vk.svg' %}"></img></a></li>
          <li class="ms-3"><a target="_blank" href="https://t.me/ymchess"><img class="bi" width="50" height="50" src="{% static 'competition\images\logos\telegram.svg' %}"></img></a></li>
<!--          <li class="ms-3"><a class="text-muted" href="https://lichess.org/team/JFx13lmY"><img class="bi" width="50" height="50" src="{% static 'competition\images\logos\lichess.svg' %}"></img></a></li>-->
        </ul>
      </footer>
    </div>